body {
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("../img/image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.validacion {
  text-align: center;
  color: black;
  width: 200px;
  font-weight: bold;
  width: 100%;
  background-color: rgba(175, 170, 170, 0.705);
  border-radius: 10px;
  cursor: pointer;
}
